Repository iwangdonghui/tsconv: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'npm run type-check', npm audit --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "git add"],
  "*.{json,md,yml,yaml}": ["prettier --write", "git add"],
  "*.{css,scss,less}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["bash -c 'npm run type-check'"],
  "package.json": ["npm audit --audit-level=moderate", "git add"]
}

feat: 实现错误追踪系统
  scripts/test-error-tracking.cjs
  src/components/ErrorBoundary.tsx
  src/components/ErrorMonitoringDashboard.tsx
  src/components/ErrorTestComponent.tsx
  src/lib/error-tracking.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 实现性能监控系统
  BUILD-FIXES.md
  docs/performance-monitoring.md
  scripts/test-performance-monitoring.js
  scripts/verify-performance-monitoring.cjs
  src/components/PerformanceMonitoringDashboard.tsx
  src/config/performance.ts
  src/hooks/usePerformanceMonitoring.ts
  src/lib/__tests__/performance-monitoring.test.ts
  src/lib/performance-monitoring.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 增强前端组件和工具系统
  src/App.tsx
  src/components/EnhancedApiDocs.tsx
  src/components/FormatTool.tsx
  src/components/Guide.tsx
  src/components/HealthPage.tsx
  src/components/TimestampConverter.tsx
  src/components/TimezoneExplorer.tsx
  src/components/WorkdaysCalculator.tsx
  src/components/__tests__/TimestampConverter.test.tsx
  src/components/examples/ValidationHookExample.tsx
  src/components/ui/__tests__/validation-components.test.tsx
  src/components/ui/cache-manager.tsx
  src/components/ui/error-message.tsx
  src/components/ui/loading-spinner.tsx
  src/components/ui/optimized-image.tsx
  src/components/ui/recovery-suggestions.tsx
  src/hooks/__tests__/useInputValidation.test.ts
  src/hooks/__tests__/useInputValidation.test.tsx
  src/main.tsx
  src/utils/__tests__/validation.test.ts
  src/utils/preload-strategy.ts
  src/utils/service-worker.ts
  src/utils/services.ts
  src/utils/storage-manager.ts
  src/utils/timestampUtils.ts
  src/utils/type-guards.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 优化配置和构建系统
  tsconfig.build.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: 完善项目文档和配置文件
  README-performance-monitoring.md
  README.md
  detailed-implementation-plan.md
  docs/ADVANCED_TYPE_CHECKING.md
  docs/API_DOCUMENTATION.md
  docs/API_ERROR_CODES.md
  docs/API_EXAMPLES.md
  docs/API_EXAMPLES_DETAILED.md
  docs/API_SECURITY.md
  docs/CACHE_STRATEGY_OPTIMIZATION.md
  docs/CI_CD_PIPELINE.md
  docs/CLOUDFLARE_DEPLOYMENT.md
  docs/CODE_SPLITTING_OPTIMIZATION.md
  docs/CSP_CONFIGURATION.md
  docs/ENVIRONMENT_SETUP.md
  docs/ERROR_TRACKING_SYSTEM.md
  docs/GITHUB_SECRETS.md
  docs/ICON_OPTIMIZATION.md
  docs/IMAGE_OPTIMIZATION.md
  docs/IMPROVEMENT_PLAN.md
  docs/MOBILE_IMPROVEMENTS.md
  docs/REDIS_SETUP.md
  docs/REFACTORING_REPORT.md
  docs/SECURITY_HEADERS.md
  docs/STRICT_MODE.md
  docs/TYPES.md
  docs/TYPE_ERROR_FIXES.md
  docs/UNIFIED_ARCHITECTURE.md
  docs/UPSTASH_REDIS_SETUP.md
  monitoring-history.json
  performance-optimization-plan.md
  security-config-report.json
  security-scan-report.json
Due: prettier --write

feat: 添加 Sentry 配置和类型定义
  reports/code-quality-report.json
  reports/quality-automation-report.json
  src/lib/sentry.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 更新项目配置文件
  .env.example
  .lighthouserc.json
  .vscode/settings.json
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: 更新 API 处理器和函数
  api-handlers/admin-router.ts
  api-handlers/analytics-api.ts
  api-handlers/analytics.ts
  api-handlers/cache-admin.ts
  api-handlers/cache-test.ts
  api-handlers/cache-utils.ts
  api-handlers/convert.ts
  api-handlers/date-diff.ts
  api-handlers/env-debug.ts
  api-handlers/format.ts
  api-handlers/health.ts
  api-handlers/now.ts
  api-handlers/redis-client.ts
  api-handlers/security.ts
  api-handlers/timezones-enhanced.ts
  api-handlers/v1-router.ts
  api-handlers/workdays.ts
  functions/api/[[path]].ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 更新开发脚本和工具
  dev-server.js
  scripts/analyze-typescript.js
  scripts/dev-server.js
  scripts/fix-accessibility.js
  scripts/fix-color-scheme-and-dropdowns.js
  scripts/fix-dark-mode-comprehensive.js
  scripts/fix-dark-mode-styles.js
  scripts/fix-strict-mode-issues.js
  scripts/fix-typescript-issues.js
  scripts/fix-variable-naming.js
  scripts/migration-guide.md
  scripts/monitor-production.js
  scripts/optimize-typescript.js
  scripts/quick-fix-typescript.js
  scripts/test-api-docs.js
  scripts/test-api-extensions.js
  scripts/test-apis.js
  scripts/test-cache.js
  scripts/test-frontend-features.js
  scripts/test-migration.js
  scripts/test-production-optimization.js
  scripts/test-unified-handlers.js
  scripts/verify-implementation.js
  scripts/verify-migration.js
  scripts/verify-refactoring.js
Due: eslint --fix, prettier --write

feat: 更新前端资源和测试文件
  public/api/batch.json
  public/api/convert.json
  public/api/formats.json
  public/api/health.json
  public/api/now.json
  public/sw.js
  src/__tests__/TimestampConverter.integration.test.tsx
  src/test/testUtils.tsx
  test-simple.js
  test-working-apis.js
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: 更新项目规格文档
  .kiro/specs/api-functionality-expansion/design.md
  .kiro/specs/api-functionality-expansion/requirements.md
  .kiro/specs/api-functionality-expansion/tasks.md
  .kiro/specs/code-error-fixes/requirements.md
  .kiro/specs/deployment-fixes/design.md
  .kiro/specs/deployment-fixes/requirements.md
  .kiro/specs/deployment-fixes/tasks.md
  .kiro/specs/error-handling-improvements/design.md
  .kiro/specs/error-handling-improvements/requirements.md
  .kiro/specs/error-handling-improvements/tasks.md
Due: prettier --write

fix: 安装缺失的 husky 依赖
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

chore: 更新 package-lock.json
  package-lock.json
Due: prettier --write

feat: 优化项目质量和TypeScript错误修复
  OPTIMIZATION_PROGRESS_REPORT.md
  PROJECT_STATUS_SUMMARY.md
  api/admin/api-keys.ts
  api/admin/security-monitoring.ts
  api/handlers/metrics.ts
  api/handlers/redis-admin.ts
  api/handlers/redis-config.ts
  api/handlers/simple-api.ts
  api/handlers/timezone-convert.ts
  package.json
  public/_headers
  scripts/fix-typescript-batch.cjs
  scripts/fix-typescript-errors-batch.cjs
Due: eslint --fix, prettier --write, bash -c 'npm run type-check', npm audit --audit-level=moderate

chore: 更新开发环境配置
  .gitignore
  .vscode/settings.json
Due: prettier --write

feat: 完善暗色主题支持
  scripts/test-accessibility.js
  scripts/test-dark-theme.js
  src/components/EnhancedApiDocs.tsx
  src/components/TimestampConverter.tsx
  src/index.css
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: 添加FAQ板块提升SEO和用户体验
  scripts/test-faq-seo.js
  src/components/FAQ.tsx
  src/components/TimestampConverter.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: FAQ组件国际化支持
  docs/IMPROVEMENT_PLAN.md
  scripts/test-faq-seo.js
  src/components/FAQ.tsx
  src/contexts/LanguageContext.tsx
  src/data/faqData.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: 修复构建配置以支持Cloudflare Pages部署
  package.json
  src/App.tsx
  tsconfig.frontend.json
Due: eslint --fix, prettier --write, bash -c 'npm run type-check', npm audit --audit-level=moderate

fix: add SPA routing support for Cloudflare Pages
  public/_headers
  public/_redirects
Due: none

fix: remove hardcoded asset references from HTML template
  index.html
Due: none

fix: resolve CSP, React hooks, and font loading issues
  index.html
  public/_headers
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: downgrade React dependencies to resolve compatibility issues
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: optimize Vite build configuration for React dependencies
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: resolve Cloudflare Pages deployment and routing issues
  public/_headers
  public/_redirects
Due: none

fix: correct favicon preload paths and resource optimization
  index.html
Due: none

feat: add development tools and debugging utilities
  .vscode/settings.json
  scripts/fix-react-dependencies.sh
Due: prettier --write

feat: add comprehensive debugging and testing infrastructure
  debug-index.html
  index.minimal.html
  minimal-test.html
  react-cdn-test.html
  simple-index.html
  src/SimpleApp.minimal.tsx
  src/debug-main.tsx
  src/main.minimal.tsx
  src/simple-main.tsx
  src/test-main.tsx
  test-index.html
  test-simple.html
  vite.debug.config.ts
  vite.minimal.config.ts
  vite.simple.config.ts
  vite.test.config.ts
  working-app.html
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: add debugging components and update gitignore
  .gitignore
  src/DebugApp.tsx
  src/SimpleApp.tsx
  src/TestApp.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: deploy stable fallback version to resolve React dependency issues
  public/_redirects
  working-app-stable.html
Due: none

fix: resolve React dependency loading issues in production build
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

feat: remove debug panels from production build
  src/main.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: update redirect configuration to enable React version access
  public/_redirects
Due: none

feat: 移动端交互优化
  src/__tests__/MobileInteractions.test.tsx
  src/components/HistoryPanel.tsx
  src/components/TimestampConverter.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/hooks/useMobileGestures.ts
  src/index.css
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

fix: 添加缺失的 useMobileGestures.ts 文件
  src/hooks/useMobileGestures.ts
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'

docs: 更新改进计划文档 - 移动端交互优化完成
  docs/IMPROVEMENT_PLAN.md
Due: prettier --write

feat: Complete workdays calculator UI/UX optimization
  docs/WORKDAYS_CALCULATOR_OPTIMIZATION_PLAN.md
  src/__tests__/MobileInteractions.test.tsx
  src/components/WorkdaysCalculator.tsx
Due: eslint --fix, prettier --write, bash -c 'npm run type-check'
